<?xml version="1.0" encoding="ISO-8859-1" ?> 
<web-app xmlns="http://java.sun.com/xml/ns/javaee"  
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee  
           http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"  
         version="2.5">

    <!-- A continuacion deben declararse todas las Interfaces que se implementan como
         Servlets en el sistema. Para cada Interfaz deben declararse los tags
         <servlet> y <servlet-mapping>  
     -->

    <servlet>
      <servlet-name>Extraer</servlet-name>
      <servlet-class>interfaces.InterfazExtraccion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Extraer</servlet-name>
        <url-pattern>/Extraer</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>Consulta</servlet-name>
      <servlet-class>interfaces.InterfazConsulta</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Consulta</servlet-name>
        <url-pattern>/Consulta</url-pattern>
    </servlet-mapping>    

    <servlet>
      <servlet-name>Transferencia</servlet-name>
      <servlet-class>interfaces.InterfazTransferencia</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Transferencia</servlet-name>
        <url-pattern>/Transferencia</url-pattern>
    </servlet-mapping>     
</web-app>
